<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
{% include 'web/navigation.html' %}
<!-- 主体部分 -->
<div>
    <!-- 左侧搜索栏 -->
    <div style="width: 15%; float: left;">
        <div style="margin-left: 20px; margin-top: 20px; width: 100%; height: 600px; color: black; background-color: lightgray">
            <form action="{{ url_for('web.search') }}" method="post">
                <div style="float: left; width: 100%; height: auto; margin-left: 20px;">
                    <h5>{{ form.one_or_round.label }}</h5>
                    {{ form.one_or_round }}
                </div>
                <div style="float: left; width: 30%; margin-left: 20px">
                    <h6>{{ form.depart_city.label }}</h6>
                    {{ form.depart_city }}
                </div>
                <div style="float: right; width: 30%;">
                    <h6>{{ form.arrive_city.label }}</h6>
                    {{ form.arrive_city }}
                </div>
                <div style="clear: both;"></div>
                <div style="float: left; width: 100%; margin-left: 20px; margin-top: 20px">
                    <h6>{{ form.depart_date.label }}</h6>
                    {{ form.depart_date(onfocus="this.value = ''",onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}", style="width: 220px") }}
                </div>
                <div style="float: left; width: 100%; margin-left: 20px; margin-top: 20px">
                    <h6>{{ form.return_date.label }}</h6>
                    {{ form.return_date(onfocus="this.value = ''",onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}", style="width: 220px") }}
                </div>
                <div style="margin-top: 30px; margin-right: 10%; float: right;">
                    <input class="btn btn-primary" type="submit" value="搜索航班">
                </div>
            </form>
            <div style="clear: both"></div>
        </div>
    </div>
    <!-- 右侧查询信息显示栏 -->
    <div style="width: 80%; float: right">
        <div style="height: 600px; margin-top: 20px; overflow: auto; background-color: lightgray">
            {% if tickets %}
                <table style="margin: 0px auto; width: 100%">
                    <tr style="text-align: center">
                        <td>航班信息</td>
                        <td>起点终点</td>
                        <td>起降机场</td>
                        <td>起降时间</td>
                        <td>机票价格</td>
                        <td>预定</td>
                    </tr>
                    {% for ticket in tickets %}
                        <tr style="text-align: center">
                            <td>{{ ticket.name }}</td>
                            <td>{{ ticket.depart_city }} / {{ ticket.arrive_city }}</td>
                            <td>{{ ticket.depart_airport }} / {{ ticket.arrive_airport }}</td>
                            <td>{{ ticket.depart_date_time }} {{ ticket.arrive_date_time }}</td>
                            <td>{{ ticket.economy_class_price }} / {{ ticket.business_class_price }} / {{ ticket.first_class_price }}</td>
                            <td>
                                <form action="{{ url_for('web.order', ticket_name=ticket.name) }}" method="get">
                                    <input class="btn btn-primary" type="submit" value="预定">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h1>未找到符合条件的航班信息</h1>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>